*{
	padding:0px; 
	margin: 0px;
}
 p {
 	height:160px;
  width: 275px;
   font-size: 25px;
   text-align:right;
   font-family: 'PT Sans', sans-serif;
   font-weight: 600;
   color:#00FFFF ;
}
body {background: url("../img/school_edited.jpg"); background-size: cover; background-repeat: no-repeat; }
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');
a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
a:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}